<!DOCTYPE html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="./styles/main.css">
    </script>
  </head>
  <body>
    <div class="container">
    <div id="app">
      <header class="header">
        <h1>Signup</h1>
      </header>
      <main >
      <p>
        <form action="/" class="signup-form" method="POST">
          <input type="text" name="username" style="text-align: center;" placeholder="Username"><br />
          <input type="text" name="name" style="text-align: center;" placeholder="Name"/><br />
          <input type="text" name="id" style="text-align: center;" placeholder="Affiliation" /><br />
          <input type="password" name="password" style="text-align: center;" placeholder="Password"><br />
            <button type="submit"name="submit" value="Submit" onclick="window.location='/'">Sign up</button><br/>
          <a href="/">Login</a>
        </form>
      </p>
      </main>
    </div>
    </div>
    <script src="./js/signup.js"></script>
  </body>
</html>
